{% extends "base.html" %}

{% block content %}
<div>
    <h1 > Create your portfolio in minutes! </h1>
</div>

<div>
    <h3>
        {% if user.is_authenticated %}
        <h1> WELCOME, {{user.first_name}}</h1>
        <h1><a href="auth/logout">Logout</a></h1>
        <h1><a href="{% url 'password_change' %}">Change password</a></h1>
        <h1> <a href="templates/">Templates</a> </h1>
        {% else %}
        <a href="auth/">Login or Signup?</a>
        {% endif %}
    </h3>
</div>
{% endblock %}