{% extends "base.html"%}

{% block content%}
<div class="register-photo">
	<div class="form-container">
		<div class="image-holder"></div>
        <form action="signup" method="post">
            {% csrf_token %}
			<h2 class="text-center"><strong>Create</strong> an account.</h2>

            <div class="form-group">
				<input class="form-control" type="text" name="username" placeholder="Username">
            </div>
            
            <div class="form-group">
				<input class="form-control" type="text" name="firstname" placeholder="First Name">
            </div>
            
            <div class="form-group">
				<input class="form-control" type="text" name="lastname" placeholder="Last Name">
			</div>

			<div class="form-group">
				<input class="form-control" type="email" name="email" placeholder="Email">
			</div>
			
			<div class="form-group">
				<input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            
			<div class="form-group">
				<button class="btn btn-primary btn-block" type="submit">Sign Up</button>
			</div>

			<a href="./signin" class="already">You already have an account? Login here.</a>
		</form>
	</div>
</div>

<div>
    {% for message in messages %}
    <p> {{message}}</p>
    {% endfor %}
</div>


{% endblock %}

<div id="loginModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="content">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <a class="nav-link"><h4 class="modal-title">Login </h4></a>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-sm-4">
                                <label class="sr-only" for="exampleInputEmail3">Email address</label>
                                <input type="email" class="form-control form-control-sm mr-1" id="exampleInputEmail3" placeholder="Enter email">
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="sr-only" for="exampleInputPassword3">Password</label>
                            <input type="password" class="form-control form-control-sm mr-1" id="exampleInputPassword3" placeholder="Password">
                        </div>
                        <div class="col-sm-auto">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox">
                                <label class="form-check-label"> Remember me
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <button type="button" class="btn btn-secondary btn-sm ml-auto" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary btn-sm ml-1">Sign in</button>        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

---------------------------
<form action="signup" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
        <button type="submit"> Register </button>
    </div>
</form>