{% extends 'base.html' %}

{% block content %}

    <div class="register-photo">
        <div class="form-container">
            <div class="image-holder"></div>
    
            <form action="signin" method="POST">
                {% csrf_token %}
                <h2 class="text-center"><strong>Login</strong></h2>
    
                <div class="form-group">
                    <input class="form-control" type="text" name="username" id="username" placeholder="Username">
                </div>
                
                <div class="form-group">
                    <input class="form-control" type="password" name="password" id="password" placeholder="Password">
                </div>
    
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Login</button>
                </div>
    
                <a href="./signup" class="already">Don't have an account? Register here.</a>
                <a href="{% url 'password_reset' %}" class="already">Forgot your password?</a>
            </form>
        </div>
    </div>


{% endblock %}

<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="" method="post">
                        <h3 class="text-center text-info">Login</h3>
                        <div class="form-group">
                            <label for="username" class="text-dark">Username:</label><br>
                            <input type="text" name="username" id="username" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-dark">Password:</label><br>
                            <input type="password" name="password" id="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="remember-me" class="text-dark"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                            <a href="{% url 'password_reset' %}">Forgot your password?</a>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-success btn-md" value="submit">
                        </div>
                        <div id="register-link" class="text-right">
                            <a href="./signup" class="text-info">Register here</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


