{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>devfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{% get_media_prefix %}{{ bio.photo }}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css1/main.bundle.css' %}">
  <script src="https://kit.fontawesome.com/4e5a72c756.js"></script>
</head>

<body>
  <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="navbar-item is-hidden-desktop">
        <a href= "{{ bio.github }}" class="icon is-large has-text-light">
          <i class="fab fa-2x fa-github"></i>
        </a>
      </div>
      <div class="navbar-item is-hidden-desktop">
        <a href="{{ bio.website }}" class="icon is-large has-text-light">
          <i class="fas fa-2x fa-globe"></i>
        </a>
      </div>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <a href="{{ bio.github }}" class="icon is-large has-text-light">
            <i class="fab fa-2x fa-github"></i>
          </a>
        </div>
        <div class="navbar-item">
          <a href="{{ bio.website }}" class="icon is-large has-text-light">
            <i class="fas fa-2x fa-globe"></i>
          </a>
        </div>
      </div>
    </div>
  </nav>

  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <div class="level">
          <div class="level-item has-text-centered">
            <figure class="image is-128x128">
              <img class="is-rounded" src="{% get_media_prefix %}{{ bio.photo }}">
            </figure>
          </div>
        </div>
        <div class="columns has-text-centered">
          <div class="column">
            <h1 class="title is-1">
              {{ bio.fname }} {{bio.lname}}
            </h1>
            <h2 class="subtitle">
              {{bio.headline}}
            </h2>
            <p>
              <a href="{% static 'docs1/resume.txt' %}" class="icon has-text-light">
                <i class="fas fa-file-word"></i> <strong>Resume</strong>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h1 class="title">About Me</h1>
      <hr />
      <p>{{bio.about}}</p>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h1 class="title">Experience</h1>
      <hr />


      {% for e in exp %}
      <div class="card card-gap">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="{% static 'img1/pied-piper-logo.png' %}" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">{{e.company}}</p>
              <p class="subtitle is-6">{{e.position}} - <time datetime="2018-1">{{e.startdate}}</time> - <time
                  datetime="2017-9">{{e.endate}}</time></p>
            </div>
          </div>
          <div class="content">
            <p>{{e.desc}}</p>
          </div>
        </div>
      </div>
      {% endfor %}


    </div>
  </section>

  <section class="section">
    <div class="container">
      <h1 class="title">Projects</h1>
      <hr />
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-12">
          {%for project in projects%}
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child notification">
                <p class="title">{{project.name}}</p>
                <figure class="image is-3by2">
                  <img class="modal-trigger" data-target="project-1-modal" src="{% static 'img1/project-1-cover.png' %}">
                </figure>
              </article>
            </div>
            {%endfor%}
          </div>
        </div>
      </div>


    </div>
  </section>

  <section class="section">
    <div class="container">
      <h1 class="title">Education / Training</h1>
      <hr />
      {%for school in schools%}
      <div class="card card-gap">
        <div class="card-content">
          <div class="content">
            <p class="title is-4">{{school.school}}</p>
            <p class="subtitle is-6">{{school.course}}/{{school.specialization}} - <time datetime="2015-9">{{school.startdate}}</time> - <time
                datetime="2015-9">{{school.endate}}</time></p>
          </div>
          <div class="content">
            {{school.desc}}
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h1 class="title">Contact</h1>
      <hr />
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <a href="{{ bio.github }}" class="icon is-large">
              <i class="fab fa-2x fa-github"></i>
            </a>
            <p class="heading"><a href="{{ bio.github }}">{{ bio.fname }}'s Github</a></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <a href="{{ bio.website }}" class="icon is-large">
              <i class="fas fa-2x fa-globe"></i>
            </a>
            <p class="heading"><a href="{{ bio.website }}">{{ bio.fname }}'s website</a></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <a href="mailto:{{bio.email}}" class="icon is-large">
              <i class="fas fa-2x fa-envelope"></i>
            </a>
            <p class="heading"><a href="mailto:{{bio.email}}">{{bio.email}}</a></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <a href="{{bio.linkedin}}" class="icon is-large">
              <i class="fab fa-2x fa-linkedin-in"></i>
            </a>
            <p class="heading"><a href="{{bio.linkedin}}">linkedin</a></p>
          </div>
        </div>
      </nav>
    </div>
  </section>

  <!-- Modals -->
  <div id="project-1-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Project title</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">

        <div id="project-1-modal-carousel" class="carousel">
          <figure class="image is-4by3 carousel-cell">
            <img src="{% static 'img1/carousel/1.png'%}">
          </figure>
          <figure class="image is-4by3 carousel-cell">
            <img src="{% static 'img1/carousel/2.png'%}">
          </figure>
          <figure class="image is-4by3 carousel-cell">
            <img src="{% static 'img1/carousel/3.png'%}">
          </figure>
        </div>

        <div class="content">

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat.</p>

          <div class="tags">
            <span class="tag">angular</span>
            <span class="tag">mongo</span>
            <span class="tag">typscript</span>
            <span class="tag">node</span>
          </div>

        </div>

      </section>
      <footer class="modal-card-foot">
        <button class="button is-success">Close</button>
      </footer>
    </div>
  </div>

  <div id="project-2-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Project title</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">

        <div id="project-2-modal-carousel" class="carousel">
          <figure class="image is-4by3 carousel-cell">
            <img src="{% static 'img1/carousel/1.png'%}">
          </figure>
          <figure class="image is-4by3 carousel-cell">
            <img src="{% static 'img1/carousel/2.png'%}">
          </figure>
          <figure class="image is-4by3 carousel-cell">
            <img src="{% static 'img1/carousel/3.png'%}">
          </figure>
        </div>

        <div class="content">

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat.</p>

          <div class="tags">
            <span class="tag">angular</span>
            <span class="tag">mongo</span>
            <span class="tag">typscript</span>
            <span class="tag">node</span>
          </div>

        </div>

      </section>
      <footer class="modal-card-foot">
        <button class="button is-success">Close</button>
      </footer>
    </div>
  </div>

  <div id="project-3-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Project title</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <div id="project-3-modal-carousel" class="carousel">
          <figure class="image is-4by3 carousel-cell">
            <img src="{% static 'img1/carousel/1.png'%}">
          </figure>
          <figure class="image is-4by3 carousel-cell">
            <img src="{% static 'img1/carousel/2.png'%}">
          </figure>
          <figure class="image is-4by3 carousel-cell">
            <img src="{% static 'img1/carousel/3.png'%}">
          </figure>
        </div>

        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat.</p>
          <div class="tags">
            <span class="tag">angular</span>
            <span class="tag">mongo</span>
            <span class="tag">typscript</span>
            <span class="tag">node</span>
          </div>
        </div>

      </section>
      <footer class="modal-card-foot">
        <button class="button is-success">Close</button>
      </footer>
    </div>
  </div>

  <div id="project-4-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Project title</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <div id="project-4-modal-carousel" class="carousel">
          <figure class="image is-4by3 carousel-cell">
            <img src="{% static 'img1/carousel/1.png'%}">
          </figure>
          <figure class="image is-4by3 carousel-cell">
            <img src="{% static 'img1/carousel/2.png'%}">
          </figure>
          <figure class="image is-4by3 carousel-cell">
            <img src="{% static 'img1/carousel/3.png'%}">
          </figure>
        </div>

        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat.</p>
          <div class="tags">
            <span class="tag">angular</span>
            <span class="tag">mongo</span>
            <span class="tag">typscript</span>
            <span class="tag">node</span>
          </div>
        </div>

      </section>
      <footer class="modal-card-foot">
        <button class="button is-success">Close</button>
      </footer>
    </div>
  </div>

  <div id="project-5-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Project title</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <div id="project-5-modal-carousel" class="carousel">
          <figure class="image is-4by3 carousel-cell">
            <img src="{% static 'img1/carousel/1.png'%}">
          </figure>
          <figure class="image is-4by3 carousel-cell">
            <img src="{% static 'img1/carousel/2.png'%}">
          </figure>
          <figure class="image is-4by3 carousel-cell">
            <img src="{% static 'img1/carousel/3.png'%}">
          </figure>
        </div>

        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat.</p>
          <div class="tags">
            <span class="tag">angular</span>
            <span class="tag">mongo</span>
            <span class="tag">typscript</span>
            <span class="tag">node</span>
          </div>
        </div>

      </section>
      <footer class="modal-card-foot">
        <button class="button is-success">Close</button>
      </footer>
    </div>
  </div>

  <div id="project-6-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Project title</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <div id="project-6-modal-carousel" class="carousel">
          <figure class="image is-4by3 carousel-cell">
            <img src="{% static 'img1/carousel/1.png'%}">
          </figure>
          <figure class="image is-4by3 carousel-cell">
            <img src="{% static 'img1/carousel/2.png'%}">
          </figure>
          <figure class="image is-4by3 carousel-cell">
            <img src="{% static 'img1/carousel/3.png'%}">
          </figure>
        </div>

        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat.</p>
          <div class="tags">
            <span class="tag">angular</span>
            <span class="tag">mongo</span>
            <span class="tag">typscript</span>
            <span class="tag">node</span>
          </div>
        </div>

      </section>
      <footer class="modal-card-foot">
        <button class="button is-success">Close</button>
      </footer>
    </div>
  </div>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <a href="{{ bio.github }}/devfolio" target="_blank" class="icon has-text-primary">
          <i class="fab fa-github"></i> <strong>devfolio</strong></a>
      </p>
    </div>
  </footer>

  <script src="{% static 'js1/bundle.js'%}"></script>
</body>

</html>